[submodule "Test-for-labwork-2-Git"]
	path = Test-for-labwork-2-Git
	url = https://github.com/DIMON3-tech/Test-for-labwork-2-Git
[submodule "fucking-awesome-python"]
	path = fucking-awesome-python
	url = https://github.com/trananhkma/fucking-awesome-python
